    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Very Very logo", root_path , id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Blog",    '#' %></li>
              <li><%= link_to "Login",    login_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>